*{
    margin:0;
    padding:0;
    font-size:16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* border:1px solid white; */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width:0px;
}

body{
    /* border:1px solid yellow; */
}

a{
    text-decoration: none;
}

a:any-link{
    color:inherit;  
}

nav{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
    /* border:1px solid orange; */
    text-align:center;
    background-color:white;
}

nav>div{
    width:100vw;
    text-align:center;
    /* border:1px solid orangered; */
}

.nav-heading{
    padding:7px 0px;
    cursor:pointer;
}

.nav-elements{
    padding: 5px;
}

.nav-elements>a>div{
    padding: 5px;
    letter-spacing: 1px;
}

#wrapper{
    transform: translateY(-61px);
    background-color: black;
}

#home{
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px 0;
}

#logo{
    width:100vw;
    padding-bottom:10vh;
    /* border:1px solid white; */
    display:flex;
    justify-content: center;
    align-items:center;
}

#logo img{
    width:100vw;
    height:20vh;
    width:20vh;
}

#social > svg{
    margin:2vh 2vw;
}

#about{
    color:white;
    padding:5px 0;
    background-color: grey;
}

.title{
    font-size: calc(6vw + 6vh);
    text-align:center;
    padding:2vh 0;
}

.heading{
    font-size:calc(2.5vw + 2.5vh);
    text-align: center;
    margin-top:2vh;
}

.content{
    font-size:calc(1vw + 1vh);
    text-align: center;
    margin-bottom:4vh;
    margin-top:1.5vh;
    display:flex;
    flex-direction: column;
    width:75vw;
    margin-left:auto;
    margin-right: auto;
}

#projects{
    color:white;
    padding:5px 0;
    background-color: darkslategray;
}

ul{
    list-style-type:none;
}

#contact{
    color:white;
    padding:5px 0;
    background-color: darkred;
    transform-origin: top middle;
}

#contact .content{
    flex-direction: row;
}

.subcontent:nth-child(1){
    margin-right:20px;
}

.subcontent:nth-child(2){
    margin-left:20px;
    transform: ;
}